@import 'variables';

.led .header {
  color: #505458;
}

.led .action {
  color: white;
  background-color: $action-color;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
  &:hover {
    background-color: $action-hover-color;
  }
  &:disabled {
    background-color: $action-disabled-color;
  }
}

.led .text {
  font-size: 16px;
}
